.adform{
  display: flex;
  flex-direction: column;

}

.adinput{
  padding: 5px;
  width: 300px;
  margin: 10px auto;
  font-size: 20px;
  border:none;
  box-shadow:  0px -10px 10px 0px rgba(255, 255, 255, 1),
  -0px 10px 10px 0 rgba(220, 225, 235, 1);
  background:  rgba(240, 240, 240,1);
  border-radius: 10px;
}
.adinput:focus{
  /* width: 300px;
  margin: 10px auto;
  font-size: 20px; */
  border:2px solid blue;
  /* box-shadow:  0px -10px 10px 0px rgba(255, 255, 255, 1),
  -0px 10px 10px 0 rgba(220, 225, 235, 1);
  background:  rgba(240, 240, 240,1);
  border-radius: 20px; */
}



input[type=checkbox] + label {

  opacity:10;
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
} 